@model Applications.WebClient.Models.ViewModels.UserVMS.UserDetailsVM

@{
    ViewData["Title"] = "Detalji korisnika";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="GetUserDetails">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PersonalNumber" class="control-label"></label>
                <input asp-for="PersonalNumber" class="form-control" />
                <span asp-validation-for="PersonalNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserPass" class="control-label"></label>
                <input type="password" asp-for="UserPass" class="form-control" />
                <span asp-validation-for="UserPass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Prikaži" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@if (Model.User != null)
{
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Stanje</label>
            <input asp-for="User.Amount" class="form-control" readonly="readonly" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Blokiran</label>
            @if (Model.User.IsBlocked)
            {
                <input class="form-control" readonly="readonly" value="Da" />
                <input class="form-control" readonly="readonly" value="@Model.User.BlockDate" />
            }
            else
            {
                <input class="form-control" readonly="readonly" value="Ne" />
            }


        </div>
    </div>
</div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Tip transackije</th>
                    <th>Iznos</th>
                    <th>Provizija</th>
                    <th>Datum</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var transaction in Model.User.Transactions)
                {
                    <tr>
                        <td>@transaction.TransactionType</td>
                        <td>@transaction.Amount</td>
                        <td>@transaction.Fee</td>
                        <td>@transaction.TransactionDate</td>
                    </tr>
                }

                </tbody>
            </table>
            
        </div>
    </div>
}

